<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple.css') }}">

</head>
<body>
    <form action="/closed_normal" method="post">
        <button type="submit">Closed: normal</button>
    </form>
    <form action="/closed_no_guide" method="post">
        <button type="submit">Closed: no tour guide</button>
    </form>
    <form action="/open_normal" method="post">
        <button type="submit">Open: normal</button>
    </form>
    <form action="/tour_in_progress_1" method="post">
        <button type="submit">Open: Come back at 1</button>
    </form>
    <form action="/tour_in_progress_2" method="post">
        <button type="submit">Open: Come back at 2</button>
    </form>
    <form action="/tour_in_progress_3" method="post">
        <button type="submit">Open: Come back at 3</button>
    </form>
</body>
</html>
