<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{page_title}}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/simple.css') }}">
   </head>
   <body>
      <h1>{{heading}}</h1>
      {%- for button in fieldset['buttons'] %}
         <input type="radio" id="{{button['label']}}" name="{{fieldset['name']}}" value={{button['value']}}
         {%- if button['checked'] is defined %} checked{%- endif %}>
         <label for="{{button['label']}}">{{button['label']}}</label><br>
      {%- endfor %}

   </body>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
   <script type="text/javascript">
      var socket = io();
      var radios = document.querySelectorAll('input[type=radio]')
      for(var i = 0, max = radios.length; i < max; i++) {
         radios[i].onclick = function() {
            console.log(this.name, this.value);
            socket.emit('change_message', {[this.name] : Number(this.value)});
         }
      }
   </script>
</html>
